body { 
    margin:0;
    padding:0;
    background: url('/img/imgMax/taipei-taiwan-2057818_1920.jpg') no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  }
#connection, #loginForm{
    border: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    background-color: rgba(178, 178, 216, 0.2);
    
}
#connection{
  display:block;
}